*~
.emacs*
TAGS
*.sql.gz
modules/l10n_feedback/data/db/settings.php
modules/l10n_feedback/data/db/sql-connect.txt
libraries/facebook-php-sdk/
libraries/tinymce/
libraries/geshi/
libraries/phpmailer/
modules/admin/
modules/boost/
modules/context/
modules/contrib/
modules/ctools/
modules/devel/
modules/diff/
modules/fb/
modules/features/
modules/fusion_accelerator/
modules/geshifilter/
modules/libraries/
modules/module_filter/
modules/openidadmin/
modules/profiler_builder/
modules/reroute_email/
modules/strongarm/
modules/views/
modules/wysiwyg/
themes/tao/
themes/rubik/
themes/fusion/
themes/abessive/
themes/acquia_marina/
modules/disqus/
modules/sharethis/
modules/mailsystem/
modules/google_analytics/
modules/rpx/
modules/token/
modules/drupalchat/
modules/edit_profile/
modules/examples/
modules/entity/
modules/rules/
modules/l10n_update/
modules/l10n_client/
modules/mimemail/
modules/phpmailer/
modules/simplenews/
modules/mass_contact/
modules/invite/
modules/homebox/
modules/memcache/
modules/simpletest_clone/
modules/captcha/
modules/recaptcha/
modules/honeypot/
