*~
.emacs*
TAGS
*.sql.gz
libraries/
modules/admin/
modules/boost/
modules/context/
modules/contrib/
modules/ctools/
modules/devel/
modules/diff/
modules/fb/
modules/features/
modules/fusion_accelerator/
modules/geshifilter/
modules/libraries/
modules/module_filter/
modules/openidadmin/
modules/profiler_builder/
modules/reroute_email/
modules/smtp/
modules/strongarm/
modules/views/
modules/wysiwyg/
themes/
modules/disqus/
