*~
.emacs*
TAGS
*.sql.gz
modules/l10n_feedback/data/db/settings.php
modules/l10n_feedback/data/db/sql-connect.txt
libraries/
modules/admin/
modules/boost/
modules/context/
modules/contrib/
modules/ctools/
modules/devel/
modules/diff/
modules/fb/
modules/features/
modules/fusion_accelerator/
modules/geshifilter/
modules/libraries/
modules/module_filter/
modules/openidadmin/
modules/profiler_builder/
modules/reroute_email/
modules/smtp/
modules/strongarm/
modules/views/
modules/wysiwyg/
themes/
modules/disqus/
modules/mailsystem/
modules/google_analytics/
modules/rpx/
modules/token/
modules/drupalchat/
modules/edit_profile/
modules/examples/
modules/entity/
modules/rules/
modules/l10n_update/
modules/l10n_client/
