
#service-links-block {
  margin-top: 5px;
  margin-bottom: 5px;
}

#service-links-block h3 {
  display: inline-block;
  margin-right: 5px;
  font-size: large;
  font-family: 'comic sans ms', sans-serif;
  color: #009900;
}

#service-links-block .service-links {
  display: inline-block;
}

#service-links-block a {
  padding: 2px;
}