
body {
  padding: 5px 20px 20px 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #232323;
  background-color: #FBFAF7;
  margin: 0;
  line-height: 1.3em;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
  color: #aa2323;
  margin: 15px 0 10px;
  font-family: Monaco, serif;
  font-weight: normal;
  display: block;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
  border: none;
  margin: 0px;
}

hr {
  border:0;
  background:#ccc;
  height:1px;
  margin:0 0 20px;
}

p, ul, ol {
  margin: 0 0 5px;
}

li {
  margin: 5px;
}

a {
  color: #2323cc;
  font-weight: 200;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#examples {
  float: left;
  width: 300px;
}

#div-output {
  float: left;
  margin: 2px 30px 5px 15px;
  width: 60%;
}

.example {
  color: #228822;
  cursor: pointer;
}

#code {
  padding: 5px;
  border: 1pt solid #AEBDCC;
  border-radius: 5px;
  font-family: Ubuntu Mono, monospace, courier;
  font-size: 16px;
}

#output {
  padding: 15px;
  border: 1pt solid #AEBDCC;
  border-radius: 5px;
  background-color: #000000;
  color: #eeeeee;
  font-family: Ubuntu Mono, monospace, courier;
  font-size: 16px;
}
