
@font-family-comic:       'comic sans ms', @font-family-sans-serif;

/* Set the font of the site brand (B-Translator). */
.navbar-brand {
    font-family: @font-family-comic;
    font-size: large;
}

/* Don't show breadcrumbs and page headers. */
.breadcrumb, .page-header {
    display: none;
}

/* H2 is used for subsections of the page, teaser title, block title, etc. */
h2 {
    font-size: large;
    font-family: @font-family-comic;
}
h2.block-title {
    color: #009900;
}
